
.zonals-admin-nav{
  margin:0px;
  padding:0px;
  background-color: #ccc;
}

.zonals-admin-nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.zonals-admin-nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.zonals-admin-nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.zonals-admin-nav a:hover {
  background-color: #005f5f;
}

.zonals-admin-nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .zonals-admin-nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  .zonals-admin-nav li {
    display: inline-block;
    margin-right: -4px;
  }
}
