.zonals-mainpage-parent{
    background-image: url("../../../beta/home/src/img/background.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    min-height: 100vh;
    width: 100%;
}
.zonals-mainpage-parent-child{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding-bottom: 5vh;
}
.zonals-mainpage-cards{
    margin-top: 10%;
    margin-bottom: auto;
    border-radius: 3px;
    width: 35%;
    background: rgba(0,0,0,0.3);
}
.zonals-mainpage-cards-image-delhi{
    background-image: url("../../../beta/home/src/img/delhi2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: auto;
    border-radius: 3px;
    opacity: 0.7;
}
.zonals-mainpage-cards-image-lucknow{
    background-image: url("../../../beta/home/src/img/lucknow2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 300px;
    width: auto;
    opacity: 0.7;
}
.zonals-mainpage-cards-image-bhopal{
    background-image: url("../../../beta/home/src/img/bhopal.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: auto;
    border-radius: 3px;
    opacity: 0.7;
}
.zonals-mainpage-cards-image-chandigadh{
    background-image: url("../../../beta/home/src/img/chandigarh.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: auto;
    border-radius: 3px;
    opacity: 0.7;
}
.zonals-mainpage-cards-image-jaipur{
    background-image: url("../../../beta/home/src/img/jaopur.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: auto;
    border-radius: 3px;
    opacity: 0.7;
}
.zonals-mainpage-cards-title{
    padding: 20px;
    font-family: Montserrat;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 22px;
}
.zonals-mainpage-cards-button{
    padding: 0px 10px 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.zonals-mainpage-cards-text{
    padding: 0px 10px 20px 10px;
    display: flex;
    color:#fff;
    flex-direction: row;
    justify-content: space-around;
}
.zonals-mainpage-cards-button a{
    padding: 12px 18px;
    background: transparent;
    color: white;
    font-family: Montserrat;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 14px;
    text-decoration: none;
}
.zonals-mainpage-cards-button a:hover{
    background:white;
    color: black;
    border: 1px solid white;
    transition: all 0.4s;
    cursor: pointer;
}
@media (max-width:768px){
    .zonals-mainpage-parent-child{
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }
    .zonals-mainpage-cards{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width:1400px){
    .zonals-mainpage-cards{
        margin-top: 17%;
    }
}
