.meme-image
{
    background:black;
    min-height:100vh;
    display:flex;
    justify-content:center;
}
.meme-image-child
{
    margin-left:auto;
    margin-right:auto;
    margin-top: 18vh;
    width:30vw;
    height:auto;
}
.meme-online-events-rulebook
{
    text-transform: uppercase;
    display: inline;
    color: white;
    border: 2px solid white;
    padding: 10px 21px;
    cursor:pointer;
}
.meme-online-events-rulebook:hover
{
    background-color:white;
    color:black;
}
@media only screen and (min-width:800px)
{
    .meme-online-events-rulebook
    {
        position: absolute;
        right: 16%;
        top: 50%;
    }
}
@media only screen and (max-width:800px)
{
    .meme-image-child
    {
        width:80vw;
        height:auto;
    }
    .meme-online-events-rulebook
    {
        position:absolute;
        right:29%;
        bottom:5%;
    }
    .meme-image >div
    {
        position:relative;
    }
}
