
.ca-landing-heading{
    display: flex;
    width: 100%;
    padding: 10px 40px 0px 30px;
    position: fixed;
    top: 0px;
    z-index: 100;
    transition: all 0.5s;
    background: transparent;
    user-select:none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
}
.ca-landing-heading-dark{
    background: #000;
    transition: all 1s;
}
.ca-landing-heading > .ca-landing-ca >h2
{
    color:white;
    opacity: 0.8;
    font-size: 1.6em;
    font-weight: 600;
    font-family:Montserrat;
}
.ca-landing-ca{
    padding-left: 20px;
    margin: auto 0px;
}
.vertical_line{
    height: 35px;
    margin-top: 35px;
    background-color: white;
    width: 1px;
}
.calanding-logo{
    padding: 10px;
}
.calanding-logo img{
    height: 75px;
    width: auto;
    cursor: pointer;
}
.common-cursor{
  cursor : default;
}
@media only screen and (max-width:768px)
{
    .ca-landing-heading{
        padding: 10px 40px 0px 5px;
    }
    .ca-landing{
        flex-direction:column;
        text-align:center;
    }
    .vertical_line
    {
        display:none;
    }
    .common-cursor{
      cursor : default;
    }

}
